<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><?=$title ?></title>
    <script src="https://cdn.tailwindcss.com"></script>
</head> 

<body class="flex flex-col m-0 h-screen bg-background-gradient">
    <nav class="bg-blue-800 text-white p-2 text-center">
        <h1 class='text-3xl font-underline'>Social Media</h1>
    </nav>  
        
    <main class="flex flex-1 m-2">
        <aside class="w-48 bg-gray-200 p-2 shadow">
            <h2 class="text-lg font-semibold">Personal Features</h2>
            <ul>
                <li class='text-2xl font-bold underline'>Friends</li>
                <li>Groups</li>
                <li>Events</li>
                <li>Pages</li>
            </ul>
        </aside>
        <div class="flex-1 p-2 bg-white shadow">
            <h2 class="text-3xl font-underline">News Feed</h2>
            <p>Your friends' posts will appear here.</p>
        </div>
        <aside class="w-72 bg-gray-200 p-2 shadow">
            <h2 class="text-lg font-semibold">Chat</h2>
            <ul>
                <li>Chat with Alice</li>
                <li>Chat with Bob</li>
                <li>Chat with Charlie</li>
            </ul>
        </aside>
    </main>
</body>



</html>