*{
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}

body{
    background-image: linear-gradient(to bottom right, #8ce694 20%, #8fc8eb, #e38bee );
    background-size: cover;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: row; /* Keep this for horizontal alignment */
    height: calc(100vh - 56px); /* Adjust height to fit under the nav */
}

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    height: 56px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 0;
    border: 0;
}

.logo img{
    height: 40px;
    width: 40px;
}

.logo {
    display: flex;
    height: 56px;
    align-items: center;
    margin-left: 8px;
}



.menu {
    display: flex;

    height: 56px;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}

.menu a { 
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px; 
    width: 40px; 
    border: solid 1px;
    border-radius: 50%; 
    margin-left: 8px;
}

.scrolling-text {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.scrolling-text p{
    margin-bottom: 4px;
}


.menu a i, img { 
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 40px;           
    height: 40px;          
}

.menu a img{
    border-radius: 50%;
}

aside {
    position: fixed;
    height: calc(100vh - 56px);
    width: 20vw;
    top: 56px;
    background-color: rgba(255, 192, 203, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.subjects{
    padding: 0;
    padding-top: 8px;
    height: 797px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.subjects li {
    display: block;
    margin-bottom: 8px;

}

.subjects li a {
    display: block;
    height: calc(106px - 16px);
    width: calc(20vw - 32px);
    background-image: url('https://img.freepik.com/premium-photo/photo-random-nature-hd-wallpaper-8k4k_915071-67205.jpg');
    border-radius: 10px;
    padding: 8px; 
    color: white;
}

.subjects li a p{ 
    color: white;
    font-size: 1.5rem;
    margin: 8px;
}
main {
    position: absolute;
    top: 56px;
    left: 20vw;
    width: 60vw; 
    height: auto;

}

.post { 
    width: 100%;
    height: auto;
    background-color: red;
}

.users{
    padding: 0;
}

.users li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.users li a {
    display: flex;
    margin: 8px;
    width: 100%;
    height: 50px;
    align-items: center;
}

.users li a img{
    margin-left: 8px;
    border-radius: 50%;
}

.users li a p{
    margin-left: 8px;
}